/*Public*/
:root{
    --grey:rgba(255, 255, 255, 0.5);
    --projects: 248, 249, 250;
    --colorh: #212529;
    --font:Nunito,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border:none;
}
a,ul{
    list-style-type: none;
    
    text-decoration: none;
}

.container{
    width:60%;
}
.w-100{
    width:100%;
}
.mobile-icon{
    display:none;
}
.mobile-items{
    display:none;
}
/*End of Public*/

/*Nav*/
.nav .container{
    position: absolute;
    z-index: 1;
    left:20%;
    overflow: hidden;
    top:5%;
    transform: translateY(-50%);
    margin:auto;
}
.nav .container .nav_left{
    float:left;
    width:50%;
}
.nav .container .nav_right{
    float:right;
    width:fit-content;
}
.nav .container .nav_right .items{
    overflow: hidden;
}
.nav .container .nav_right .items .item{
    float:left;
    width:fit-content;
    padding-left: 3rem;
}
.nav .container .nav_right .items .item{
    float:left;
    width:fit-content;
    padding-left: 3rem;
}
.nav .container a{
    color:var(--grey);
    font-family: var(--font);
    font-weight: 500;
    letter-spacing: 0.0625em;
}
.nav .container .nav_right a{
    font-size: 1rem;
}
.nav .container .nav_left a{
    font-weight: 700;
    font-size: 1.25rem;
}
.nav .container .nav_right .items .item a:hover{
    color: rgba(255, 255, 255, 0.75);
}
/*End of Nav*/

/*Header*/
.header{
    position: relative;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url(/assets/images/bg-masthead.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.header .container{
    padding:20rem 0rem;
    margin:auto;
    width:fit-content;
    text-align: center;
}
.header .container .content h1{
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 1.3rem;
    padding-bottom: 1.5rem;
}
.header .container .content p{
    color:var(--grey);
    line-height: 1.7rem;
    font-weight: 500;
    font-size: 1.3rem;
    max-width: 26rem;
    margin: auto;
    
}
.header .container .content a{
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding:1.2rem 2rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 3rem;
    background-color: #64a19d;
    color:white;
    border-radius: 5px;
    transition: background-color 1s;
}
.header .container .content a:hover{
    background-color: #558985;
}
/*End of Header*/


/*About*/
.about{
    padding-top:10rem;
    position: relative;
    background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
    min-height: 70vh;
}
.about .container{
    margin: auto;
    
}
.about .container .content{
    color:white;
    text-align: center;
    font-family: var(--font);
}
.about .container .content h2{
    padding:0rem 0rem 1.5rem 0rem;
    font-size: 2rem;
    font-weight:500;
}
.about .container .content p{
    color:var(--grey);
    font-size: 1.1rem;
    width:70%;
    margin:auto;
    line-height: 1.5rem;
    font-weight: 400; 
}
.about .container .content p a{
    color: #64a19d;
    text-decoration: underline;
}
.about .container .content p a:hover{
    color: #558985;
}
.about .container .img{
    position: absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    border: none;
}
/*End of About*/

/*Projects*/
.projects{
    background-color: rgba(var(--projects));
    padding:5rem 0rem;
}
.projects .container{
    margin: auto;
}
.projects .container .top{
    overflow: hidden;
    position: relative;
}
.projects .container .top .img{
    float:left;
    width:70%;
}
.projects .container .top .content{
    border-left:6px solid #558985;
    position: absolute;
    transform: translateY(-50%);
    top:50%;
    right:0%;
    float:left;
    width:30%;
    text-align: center;
}
.projects .container h3{
    padding-bottom: 0.5rem;
    color:var(--colorh);
    font-family: var(--font);
    font-size: 1.4rem;
    letter-spacing: 0.1;
    font-weight: 500;
    line-height: 1.2;
}
.projects .container p{
    color: rgba(0, 0, 0, 0.5);
    font-family: var(--font);
    font-weight: 500;
    line-height: 1.7;
    margin:auto;
}
.projects .container .bottom{
    padding-top:3rem;
}
.projects .container .bottom .items{
    overflow: hidden;
    background-color: #000;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}
.projects .container .bottom .items .item:nth-child(2),.projects .container .bottom .items .item:nth-child(3){
    height: fit-content;
    position: relative;
    top:50%;
    transform: translateY(-50%); 
}
.projects .container .bottom .items .item h3,.projects .container .bottom .mobile-items .item h3{
    color:white;
}
.projects .container .bottom .items .item p,.projects .container .bottom .mobile-items .item p{
    font-family: var(--font);
    color: rgba(255, 255, 255, 0.5);
    width:85%;
    margin: auto;
    font-weight: 400;
}
/*End of Projects*/

/*Contact one*/
.contact-one{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000 100%), url(/assets/images/bg-signup.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    
}
.contact-one .container{
    height: 50vh;
    margin: auto;
    text-align: center;
}
.contact-one .container .content{
    position: relative;
    top:50%;
    transform: translateY(-50%);
}
.contact-one .container .content i{
    color:white;
    font-size: 2rem;
    padding-bottom: 1rem;

}
.contact-one .container .content h3{
    color:white;
    font-family: var(--font);
    font-size: 2rem;
    font-weight: 350;
    line-height: 1.2;
    letter-spacing: 0.0625em;
    padding-bottom: 4rem;
}
.contact-one .container .content input{
    width:50%;
    padding:1rem 0rem;
    
}
.contact-one .container .content input::placeholder{
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    letter-spacing: 0.1rem;
    padding-left:1rem;
}
.contact-one .container .content button{
    font-family: var(--font);
    color:rgba(255, 255, 255, 0.677);
    letter-spacing: 0.15rem;
    padding:1rem 1.2rem;
    margin-left:1rem;
    background-color: #64a19db9;
    border: #64a19d9f;
    border-radius: 0.3rem;
}
/*End of Contact one*/

/*Contact two*/
.contact-two{
    background-color: #000;
}
.contact-two .container{
    padding:7rem 0rem;
    margin: auto;
}
.contact-two .container .top .items{
    overflow: hidden;
}
.contact-two .container .top .items .item{
    float:left;
    width:30%;
    text-align: center;
    margin:0rem 1rem;
    padding:2rem 0rem;
    background-color: white;
    border-bottom: 2px solid rgb(100, 161, 157);
    border-radius: 0.3rem;
}
.contact-two .container .top .items .item i{
    font-size: 1rem;
    padding-bottom: 0.5rem;
    color:rgb(100, 161, 157);
}
.contact-two .container .top .items .item h4{
    font-family: var(--font);
    color:var(--colorh);
    font-weight: 400;
    line-height: 1.2rem;
    letter-spacing: 0.0625em;
    width:fit-content;
    margin: auto;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(33, 37, 41);
}

.contact-two .container .top .items .item p{
    font-family: var(--font);
    font-weight: 400;
    line-height: 1.2rem;
    letter-spacing: 0.0625em;
    width:fit-content;
    margin: auto;
    padding-top: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
}
.contact-two .container .top .items .item a{
    display: block;
    padding-top: 1.5rem;
    color: rgb(100, 161, 157);
    text-decoration: underline;
}

.contact-two .container .bottom{
    margin-top:6rem;
    text-align: center;
}
.contact-two .container .bottom .items{
    overflow: hidden;
    width:20%;
    margin: auto;
}
.contact-two .container .bottom .items .item{
    float:left;
    width:fit-content;
    padding:1rem 1rem;
    margin-left:1rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
}
.contact-two .container .bottom .items .item a{
    color: rgba(255, 255, 255, 0.3);
}
.contact-two .container .bottom .items .item a:hover{
    color: rgba(255, 255, 255, 0.5);
}
/*End of Contact two*/


/*Footer*/
.footer{
    background-color: black;
    text-align: center;
}

.footer .content p{
    padding-bottom:5rem;
    font-family: var(--font);
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.0625rem;
}
/*End of Footer*/