@media(min-width:1200px) and (max-width:1400px){
    /*Public*/
    .container{
        width:65%;
    }
    /*End of Public*/

    /*Projects*/
    .projects .container p{
        width:80%;
    }
    .projects .container .bottom .items .item p{
        width:70%;
    }
    /*End of Projects*/

    /*Contact-Two*/
    .contact-two .container .top .items .item{
        width:29%;
    }
    .contact-two .container .bottom .items{
        width:25%;
    }

    .contact-two .container .top .items .item p{
        font-size: 0.8rem;
    }
    .contact-two .container .top .items .item a{
        font-size: 0.8rem;
    }
    /*End of Contact-Two*/
    
}

@media(min-width:1000px) and (max-width:1200px){
    /*Public*/
    .container{
        width:70%;
    }
    /*End of Public*/
    
    /*Projects*/
    .projects .container p{
        width:80%;
    }
    .projects .container .bottom .items .item p{
        width:70%;
    }
    /*End of Projects*/

    /*Contact-Two*/
    .contact-two .container .top .items .item{
        width:28%;
    }
    .contact-two .container .bottom .items{
        width:30%;
    }

    .contact-two .container .top .items .item p{
        font-size: 0.7rem;
    }
    .contact-two .container .top .items .item a{
        font-size: 0.7rem;
    }
    /*End of Contact-Two*/ 
}

@media(min-width:767px) and (max-width:1000px){
    /*Public*/
    .container{
        width:80%;
    }
    .mobile-icon{
        display:block;
    }
    .mobile-items{
        display:block;
    }
    /*End of Public*/


    /*Nav*/
    .nav{
        background-color: white;
        position: sticky;
        height: 10vh;
    }
    .nav .container{
        position: relative;
        z-index: 1;
        left:0%;
        overflow: hidden;
        top:50%;
        transform: translateY(-50%);
        margin:auto;
    }
    .nav .container .nav_left a,.nav .container .nav_right p{
        color:black;
    }
    .nav .container .nav_right .items{
        display: none;
    }
    .nav .container .nav_right,.nav .container .nav_left{
        padding:0.7rem 1rem;
    }
    .nav .container .nav_right .mobile-icon{
        border:1px solid #64a19d;
        padding:0.5rem 0.5rem;
        border-radius: 7%;
        cursor: pointer;
    }
    .nav .container .nav_right p{
        color: #64a19d;
    }
    .nav .container .nav_right p i{
        padding:0rem 0.6rem;
        color: #64a19d;
    }
    /*End of Nav*/

    /*Header*/
    .header .container{
        padding:15rem 0rem;
    }
    .header .container .content h1{
        font-size: 5rem;
    }
    /*End of Header*/

    /*About*/
    .about{
        padding-top:0rem;
        min-height: 40vh;
    }
    .about .container .content h2{
        font-size: 1.8rem;
    }
    /*End of About*/

    /*Projects*/
    .projects .container .top .img{
        float:none;
        width:85%;
        margin:auto;
    }
    .projects .container .top .content{
        position: relative;
        transform: translateY(0%);
        top:0%;
        float:none;
        width:100%;
        border:none;
    }
    .projects .container .bottom .items{
        display: none;    
    }
    .projects .container .bottom .mobile-items{
        width:85%;
        text-align: center; 
        margin: auto;   
    }
    .projects .container .bottom .mobile-items .item{
        background-color: black;
        margin:1rem 0rem;  
    }
    .projects .container .bottom .mobile-items .item h3{
        padding-top:1.5rem;
    }
    .projects .container .bottom .mobile-items .item p{
        padding-bottom:1.5rem;
        width:100%;
    }
    .projects .container p{
        width:70%;
        margin:auto;
    }
    .projects .container .bottom .mobile-items .item p{
        width:90%;
        margin:auto;
        font-size: 0.95rem;
    }
    .projects .container .bottom .mobile-items .item h3{
        font-size: 1.5rem;
    }
    /*End of Projects*/

    /*Contact-Two*/
    .contact-two .container .top .items .item{
        width:27%;
    }
    .contact-two .container .bottom .items{
        width:35%;
    }

    .contact-two .container .top .items .item p{
        font-size: 0.6rem;
    }
    .contact-two .container .top .items .item a{
        font-size: 0.6rem;
    }
    /*End of Contact-Two*/ 
}

@media(max-width:766px){
    /*Public*/
    .container{
        width:90%;
    }
    .mobile-icon{
        display:block;
    }
    .mobile-items{
        display:block;
    }
    /*End of Public*/


    /*Nav*/
    .nav{
        background-color: white;
        position: sticky;
        height: 10vh;
    }
    .nav .container{
        position: relative;
        z-index: 1;
        left:0%;
        overflow: hidden;
        top:50%;
        transform: translateY(-50%);
        margin:auto;
    }
    .nav .container .nav_left a,.nav .container .nav_right p{
        color:black;
    }
    .nav .container .nav_left a{
        font-size: 0.9rem;
    }
    .nav .container .nav_right .items{
        display: none;
    }
    .nav .container .nav_right{
        padding:0.7rem 1rem;
    }
    .nav .container .nav_left{
        padding:1rem 1rem;

    }
    .nav .container .nav_right .mobile-icon{
        border:1px solid #64a19d;
        padding:0.5rem 0.5rem;
        border-radius: 7%;
        cursor: pointer;
    }
    .nav .container .nav_right p{
        color: #64a19d;
    }
    .nav .container .nav_right p i{
        padding:0rem 0.6rem;
        color: #64a19d;
    }
    /*End of Nav*/

    /*Header*/
    .header .container{
        padding:15rem 0rem;
    }
    .header .container .content h1{
        font-size: 2rem;
    }
    .header .container .content p{
        font-size: 1rem;
    }
    .header .container .content a{
        font-size: 0.7rem;
    }
    /*End of Header*/

    /*About*/
    .about{
        padding-top:0rem;
        min-height: 50vh;
    }
    .about .container .content h2{
        font-size: 1.8rem;
    }
    .about .container .content p{
        width:90%;
    }
    /*End of About*/

    /*Projects*/
    .projects .container .top .img{
        float:none;
        width:85%;
        margin:auto;
    }
    .projects .container .top .content{
        position: relative;
        transform: translateY(0%);
        top:0%;
        float:none;
        width:100%;
        border:none;
    }
    .projects .container .bottom .items{
        display: none;    
    }
    .projects .container .bottom .mobile-items{
        width:85%;
        text-align: center; 
        margin: auto;   
    }
    .projects .container .bottom .mobile-items .item{
        background-color: black;
        margin:1rem 0rem;  
    }
    .projects .container .bottom .mobile-items .item h3{
        padding-top:1.5rem;
    }
    .projects .container .bottom .mobile-items .item p{
        padding-bottom:1.5rem;
        width:100%;
    }
    .projects .container p{
        width:70%;
        margin:auto;
    }
    .projects .container .bottom .mobile-items .item p{
        width:90%;
        margin:auto;
        font-size: 0.95rem;
    }
    .projects .container .bottom .mobile-items .item h3{
        font-size: 1.5rem;
    }
    /*End of Projects*/


    /*Contact one*/
    .contact-one .container .content input::placeholder{
        letter-spacing: 0.0625rem;
        padding-left:1rem;
        font-size: 0.5rem;
    }
    /*End of Contact one*/

    /*Contact-Two*/
    .contact-two .container .top .items .item{
        float:none;
        width:90%;
        margin: auto;
        margin-bottom:1rem;
    }
    .contact-two .container .bottom .items{
        width:40%;
    }
    .contact-two .container .bottom .items .item{
        margin-left:0.5rem;
    }

    .contact-two .container .top .items .item p{
        font-size: 1rem;
    }
    .contact-two .container .top .items .item a{
        font-size: 1rem;
    }
    /*End of Contact-Two*/ 
}

@media(max-width:566px){
    /*Contact-Two*/
    .contact-two .container .bottom .items{
        width:50%;
    }
    /*End of Contact-Two*/ 
}

